include ../social/social

mixin menu(parent)

  -
    name = "menu"
    className = getClassName(name, parent)
    picture = {
      fill: "#FFFFFF",
      width: 30,
      height: 4
    }

  div(class=className)

    button(class=`${name}__switch` type="button")
      svg(width="30" height="30" viewBox="0 0 30 30" fill="none" role="presentation" aria-hidden="true")
        rect(y="2" width=picture.width height=picture.height fill=picture.fill)
        rect(y="12.5" width=picture.width height=picture.height fill=picture.fill)
        rect(y="23" width=picture.width height=picture.height fill=picture.fill)

    div(class=`${name}__content`)
      +social
