mixin picture(obj, gallery)

  -
    let {path, name, title, parent, breakpoint} = obj

  if (gallery)

    picture(class=`${parent}__picture`)
      source(
        type="image/webp"
        media=`(min-width: ${breakpoint}px)`
        srcset=`
                      ${path}${name}--m.webp,
                      ${path}${name}--m@2x.webp 2x,
                      ${path}${name}--m@3x.webp 3x
              `)
      source(
        type="image/webp"
        srcset=`
                      ${path}${name}--s.webp,
                      ${path}${name}--s@2x.webp 2x,
                      ${path}${name}--s@3x.webp 3x
              `)
      source(
        type="image/jpeg"
        media=`(min-width: ${breakpoint}px)`
        srcset=`
                      ${path}${name}--m.jpg,
                      ${path}${name}--m@2x.jpg 2x,
                      ${path}${name}--m@3x.jpg 3x
              `)
      img(
        class=`${parent}__image`,
        srcset=`
                      ${path}${name}--s@2x.jpg 2x,
                      ${path}${name}--s@3x.jpg 3x`
        src=`${path}${name}--s.jpg`
        alt=title
        loading="lazy"
      )

  else

    picture(class=`${parent}__picture`)
      source(type="image/webp" srcset=`
                ${path}${name}.webp,
                ${path}${name}@2x.webp 2x,
                ${path}${name}@3x.webp 3x,
                ${path}${name}@4x.webp 4x
              `)
      img(
        class=`${parent}__image`,
        srcset=`
                  ${path}${name}@2x.jpg 2x,
                  ${path}${name}@3x.jpg 3x,
                  ${path}${name}@4x.jpg 4x
                `
        src=`${path}${name}.jpg`
        alt=title
        loading="lazy"
      )

