include ../../templates/helpers

- data = require("./gallery.json")

+helpers

section.gallery
  header.gallery__header
    h2.gallery__title Gallery
    ul.gallery__filter
      each item, index in data.filters
        li.gallery__filter-item
          - isChecked = index === 0 ? "checked" : false;
          input.gallery__filter-input.visually-hidden(type="radio" name="gallery-filter" id=`gallery-filter--${item}` value=item checked=isChecked)
          label.gallery__filter-label(for=`gallery-filter--${item}`) #{ucFirst(item)}

